html {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    max-width: 100%;
  }

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.bg-custom {
     background-color: #4aaaa5;
}

body {
    background-image: url("../images/dust_scratches.png");
    border: 1px solid #cccccc;
}   


.content {
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: #ffffff;
}

.fmt1 {
    color: #4aaaa5;
    font-weight: bold;
    font-size: 150%;
    padding: 20px 0px;
    margin-bottom: 30px;
    border-bottom: 2px solid lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.customimg {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.fmtfooter {
    padding-top: 40px;
    text-align: center;
    background-color: #666666;
    color: #ffffff;
    font-size: 75%;
    border-top: 6px solid #4aaaa5;
    margin-top: 40px;
}


  .btn-custom {
    color: #fff;
    background-color:#4aaaa5;
}

.btn-custom:hover {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

a.textover {
    display: block;
}
.row-clear {
    margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
    img.customimg {
      float: left;
      margin: 1.2rem;
    }
}